In [20]:
import json
import pandas as pd

with open(r"C:\Users\anany\Downloads\orders_ETL.json") as f:
    json_data = json.load(f)

json_data

[{'order_id': 1,
  'order_date': '2024-01-10',
  'total_amount': 200.5,
  'customer': {'customer_id': 101,
   'name': 'John Doe',
   'email': 'johndoe@example.com',
   'address': '123 Main StSpringfield'},
  'products': [{'product_id': 'P01',
    'name': 'Wireless Mouse',
    'category': 'Electronics',
    'price': 25.0,
    'quantity': 2},
   {'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 1}]},
 {'order_id': 2,
  'order_date': '2024-01-12',
  'total_amount': 150.0,
  'customer': {'customer_id': 102,
   'name': 'Jane Smith',
   'email': 'janesmith@example.com',
   'address': '456 Oak StSpringfield'},
  'products': [{'product_id': 'P03',
    'name': 'Laptop Stand',
    'category': 'Electronics',
    'price': 75.0,
    'quantity': 1}]},
 {'order_id': 3,
  'order_date': '2024-01-12',
  'total_amount': 120.0,
  'customer': {'customer_id': 103,
   'name': 'Alice Johnson',
   'email': 'alicejohnson@example.com',
   'address': '789 Birch StSpringfield'},
  'products': [{'product_id': 'P04',
    'name': 'Gaming Headset',
    'category': 'Electronics',
    'price': 60.0,
    'quantity': 2}]},
 {'order_id': 4,
  'order_date': '2024-01-13',
  'total_amount': 300.5,
  'customer': {'customer_id': 101,
   'name': 'John Doe',
   'email': 'johndoe@example.com',
   'address': '123 Main StSpringfield'},
  'products': [{'product_id': 'P01',
    'name': 'Wireless Mouse',
    'category': 'Electronics',
    'price': 25.0,
    'quantity': 3},
   {'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 2}]},
 {'order_id': 5,
  'order_date': '2024-01-14',
  'total_amount': 180.0,
  'customer': {'customer_id': 104,
   'name': 'Bob Brown',
   'email': 'bobbrown@example.com',
   'address': '101 Maple StSpringfield'},
  'products': [{'product_id': 'P03',
    'name': 'Laptop Stand',
    'category': 'Electronics',
    'price': 75.0,
    'quantity': 1},
   {'product_id': 'P04',
    'name': 'Gaming Headset',
    'category': 'Electronics',
    'price': 60.0,
    'quantity': 1}]},
 {'order_id': 6,
  'order_date': '2024-01-14',
  'total_amount': 250.0,
  'customer': {'customer_id': 105,
   'name': 'Sania',
   'email': 'sania@example.com',
   'address': '102 Pine StSpringfield'},
  'products': [{'product_id': 'P01',
    'name': 'Wireless Mouse',
    'category': 'Electronics',
    'price': 25.0,
    'quantity': 2},
   {'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 2},
   {'product_id': 'P04',
    'name': 'Gaming Headset',
    'category': 'Electronics',
    'price': 60.0,
    'quantity': 1}]},
 {'order_id': 7,
  'order_date': '2024-01-16',
  'total_amount': 180.0,
  'customer': {'customer_id': 106,
   'name': 'Rohit',
   'email': 'rohit@example.com',
   'address': '103 Cedar StSpringfield'},
  'products': [{'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 2},
   {'product_id': 'P05',
    'name': 'Desk Organizer',
    'category': 'Furniture',
    'price': 30.0,
    'quantity': 1}]},
 {'order_id': 8,
  'order_date': '2024-01-16',
  'total_amount': 230.0,
  'customer': {'customer_id': 107,
   'name': 'Nina Patel',
   'email': 'ninapatel@example.com',
   'address': '104 Birch StSpringfield'},
  'products': [{'product_id': 'P01',
    'name': 'Wireless Mouse',
    'category': 'Electronics',
    'price': 25.0,
    'quantity': 3},
   {'product_id': 'P03',
    'name': 'Laptop Stand',
    'category': 'Electronics',
    'price': 75.0,
    'quantity': 1}]},
 {'order_id': 9,
  'order_date': '2024-01-17',
  'total_amount': 310.0,
  'customer': {'customer_id': 108,
   'name': 'Tom Harris',
   'email': 'tomharris@example.com',
   'address': '105 Oak StSpringfield'},
  'products': [{'product_id': 'P04',
    'name': 'Gaming Headset',
    'category': 'Electronics',
    'price': 60.0,
    'quantity': 2},
   {'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 2}]},
 {'order_id': 10,
  'order_date': '2024-01-18',
  'total_amount': 130.0,
  'customer': {'customer_id': 109,
   'name': 'Eva Lee',
   'email': 'evalee@example.com',
   'address': '106 Elm StSpringfield'},
  'products': [{'product_id': 'P05',
    'name': 'Desk Organizer',
    'category': 'Furniture',
    'price': 30.0,
    'quantity': 1},
   {'product_id': 'P03',
    'name': 'Laptop Stand',
    'category': 'Electronics',
    'price': 75.0,
    'quantity': 1}]},
 {'order_id': 11,
  'order_date': '2024-01-18',
  'total_amount': 250.0,
  'customer': {'customer_id': 101,
   'name': 'John Doe',
   'email': 'johndoe@example.com',
   'address': '123 Main StSpringfield'},
  'products': [{'product_id': 'P04',
    'name': 'Gaming Headset',
    'category': 'Electronics',
    'price': 60.0,
    'quantity': 2},
   {'product_id': 'P02',
    'name': 'Bluetooth Keyboard',
    'category': 'Electronics',
    'price': 45.0,
    'quantity': 2}]},
 {'order_id': 12,
  'order_date': '2024-01-19',
  'total_amount': 180.0,
  'customer': {'customer_id': 103,
   'name': 'Alice Johnson',
   'email': 'alicejohnson@example.com',
   'address': '789 Birch StSpringfield'},
  'products': [{'product_id': 'P01',
    'name': 'Wireless Mouse',
    'category': 'Electronics',
    'price': 25.0,
    'quantity': 2},
   {'product_id': 'P05',
    'name': 'Desk Organizer',
    'category': 'Furniture',
    'price': 30.0,
    'quantity': 1}]}]

In [16]:
json_data[0]

{'order_id': 1,
 'order_date': '2024-01-10',
 'total_amount': 200.5,
 'customer': {'customer_id': 101,
  'name': 'John Doe',
  'email': 'johndoe@example.com',
  'address': '123 Main StSpringfield'},
 'products': [{'product_id': 'P01',
   'name': 'Wireless Mouse',
   'category': 'Electronics',
   'price': 25.0,
   'quantity': 2},
  {'product_id': 'P02',
   'name': 'Bluetooth Keyboard',
   'category': 'Electronics',
   'price': 45.0,
   'quantity': 1}]}

In [ ]:
#orders: 'order_id',order_date,total_amount,quantity
#customer:customer_id,name,email,address
#products:product_id,name,category, price

order_id = []
order_date =[]
total_amount=[]
quantity=[]
customer_id =[]
product_id=[]

product_name=[]
category=[]
price=[]

cust_id=[]
customer_name =[]
email =[]
address=[]





for order in json_data:
        cust_id.append(order['customer']['customer_id'])
        customer_name.append(order['customer']['name'])
        email.append(order['customer']['email'])
        address.append(order['customer']['address'])

        for product in order['products']:
            order_id.append(order['order_id'])
            customer_id.append(order['customer']['customer_id'])
            order_date.append(order['order_date'])
            total_amount.append(order['total_amount'])
            quantity.append(product['quantity'])
            product_id.append(product['product_id'])

            product_name.append(product['name'])
            category.append(product['category'])
            price.append(product['price'])
        


        
        

df_orders = pd.DataFrame({
    'order_id': order_id,
    'order_date': order_date,
    'customer_id': customer_id,
    'total_amount': total_amount,
    'product_id':product_id,
    'quantity': quantity
    
})


df_products = pd.DataFrame({
    'product_id':product_id,
    'product_name':product_name,
    'category':category,
    'price':price
})

df_customers = pd.DataFrame({
    'customer_id':cust_id,
    'customer_name':customer_name,
    'email':email,
    'address':address
})

df_orders

    order_id  order_date  customer_id  total_amount product_id  quantity
0          1  2024-01-10          101         200.5        P01         2
1          1  2024-01-10          101         200.5        P02         1
2          2  2024-01-12          102         150.0        P03         1
3          3  2024-01-12          103         120.0        P04         2
4          4  2024-01-13          101         300.5        P01         3
5          4  2024-01-13          101         300.5        P02         2
6          5  2024-01-14          104         180.0        P03         1
7          5  2024-01-14          104         180.0        P04         1
8          6  2024-01-14          105         250.0        P01         2
9          6  2024-01-14          105         250.0        P02         2
10         6  2024-01-14          105         250.0        P04         1
11         7  2024-01-16          106         180.0        P02         2
12         7  2024-01-16          106         180.0        P05         1
13         8  2024-01-16          107         230.0        P01         3
14         8  2024-01-16          107         230.0        P03         1
15         9  2024-01-17          108         310.0        P04         2
16         9  2024-01-17          108         310.0        P02         2
17        10  2024-01-18          109         130.0        P05         1
18        10  2024-01-18          109         130.0        P03         1
19        11  2024-01-18          101         250.0        P04         2
20        11  2024-01-18          101         250.0        P02         2
21        12  2024-01-19          103         180.0        P01         2
22        12  2024-01-19          103         180.0        P05         1

In [43]:
df_products.drop_duplicates(subset='product_id', keep='last', inplace=True)
df_products

   product_id        product_name     category  price
18        P03        Laptop Stand  Electronics   75.0
19        P04      Gaming Headset  Electronics   60.0
20        P02  Bluetooth Keyboard  Electronics   45.0
21        P01      Wireless Mouse  Electronics   25.0
22        P05      Desk Organizer    Furniture   30.0

In [40]:
df_customers.drop_duplicates(subset='customer_id',keep='last', inplace=True)
df_customers

,customer_id,customer_name,email,address
1,102,Jane Smith,janesmith@example.com,456 Oak StSpringfield
4,104,Bob Brown,bobbrown@example.com,101 Maple StSpringfield
5,105,Sania,sania@example.com,102 Pine StSpringfield
6,106,Rohit,rohit@example.com,103 Cedar StSpringfield
7,107,Nina Patel,ninapatel@example.com,104 Birch StSpringfield
8,108,Tom Harris,tomharris@example.com,105 Oak StSpringfield
9,109,Eva Lee,evalee@example.com,106 Elm StSpringfield
10,101,John Doe,johndoe@example.com,123 Main StSpringfield
11,103,Alice Johnson,alicejohnson@example.com,789 Birch StSpringfield

In [ ]:
from sqlalchemy import create_engine, text

server = "ANANYAS_LENOVO\SQLEXPRESS"          # or SERVERNAME\\INSTANCENAME
database = "mrdiystore"

engine = create_engine(#to create connection bet pandas and sql server
    f"mssql+pyodbc://@{server}/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&trusted_connection=yes"
)

df_orders.to_sql(name='orders', con=engine, index=False, if_exists='replace')
df_customers.to_sql(name='customers', con=engine, index=False, if_exists='replace')
df_products.to_sql(name='products', con=engine, index=False, if_exists='replace')

<>:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\anany\AppData\Local\Temp\ipykernel_29460\310057912.py:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  server = "ANANYAS_LENOVO\SQLEXPRESS"          # or SERVERNAME\\INSTANCENAME

5